<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quanlysinhvien.Properties.Settings.qlsvConnectionString"
            connectionString="Data Source=ACER-PC;Initial Catalog=qlsv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>